<div class="row">
  <div class="col-xs-2">
    <input placeholder="id" class="form-control" ng-model="mapping.id"/>
  </div>
  <div class="col-xs-8">
    <input placeholder="title" class="form-control" ng-model="mapping.title"/>
  </div>
  <div class="col-xs-2">
    <button class="btn btn-success col-xs-12" ng-click="save()">Save</button>
  </div>
</div>

<hr/>

Parsers:

<div class="btn-group">
<div ng-repeat="p in parsers"
  class="btn btn-default"
  ng-class="{'btn-primary': (p.id == mapping.parser.id)}"
  ng-click="mapping.parser = p" >
  {{p.title}}
</div>
</div>

<hr/>

<div class="row">
  <div class="col-xs-6">
    Copy HL7 v2 message here:
    <br/>
    <textarea class="form-control editor"
      ng-model="mapping.message">
    </textarea>
  </div>
  <div class="col-xs-6">
    Parsed message <button class="btn btn-default btn-xs" ng-click="print()">to console</button>:
    <br/>
    <pre>{{mapping.message | evalParser:mapping.parser.code}}</pre>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-xs-6">
    Eval expression (i.e. msg.MSH[3])
    <br/>
    <input class="form-control" ng-model="mapping.expr"/>
  </div>
  <div class="col-xs-6">
    Expression result:
    <br/>
    <pre>{{mapping.message | evalParser:mapping.parser.code | evalExpression:mapping.expr}}</pre>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-xs-6">
    Mapping function:
    <br/>
    <pre>function (msg){
<textarea class="form-control editor"
  ng-model="mapping.code">
</textarea>
}</pre>
  </div>
  <div class="col-xs-6">
    Mapping result:
    <br/>
    <pre>function(msg) =>

{{mapping.message | evalParser:mapping.parser.code | evalFn:mapping.code | json}}
    </pre>
  </div>
</div>
