<div ng-init="view='errors'" class="btn-group">
  <button class="btn btn-default"
    ng-class="{'btn-primary': view=='input'}"
    ng-click="view='input'" >
    input
  </button>
  <button class="btn btn-default"
    ng-class="{'btn-primary': view=='parsed'}"
    ng-click="view='parsed'" >
    parsed
  </button>
  <button class="btn btn-default"
    ng-class="{'btn-primary': view=='errors'}"
    ng-click="view='errors'" >
    errors
  </button>
</div>

<br/>
<br/>

<textarea class="form-control"
  ng-show="view=='input'"
  ng-model="message.text"
  style="min-height:700px;">
</textarea>

<table class="table" ng-show="view=='errors'" >
  <tr ng-repeat="e in message.errors">
    <td><i class="fa fa-warning"></i></td>
    <td class="nowrap">{{e[0]}}</td>
    <td>{{e[1]}}</td>
    <th>{{e[2]}}</th>
  </tr>
</table>

<table class="table" ng-show="view=='parsed'" >
  <tr>
    <th>position</th>
    <th>desc</th>
    <th>type</th>
    <th>table</th>
    <th>value</th>
  </tr>
  <tr ng-class="{section: segmentStart(m)}"ng-repeat="m in message.parsed">
    <td>{{m.name}}</td>
    <td class="nowrap">{{m.desc}}</td>
    <td>{{m.type}}</td>
    <td>{{m.table}}</td>
    <th>{{m.value}}</th>
  </tr>
</table>
